{% extends 'myapp/base.html' %}
{% load  static %}
{% block main-content %}
<style>
    .errorlist{
        color: rgb(233, 52, 52);
    }
</style>
<section class="ragister-section centred sec-pad">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-xl-8 col-lg-4 col-md-4 offset-xl-2 big-column">
                <div class="sec-title">
                    <h5>Sign up</h5>
                    <h2>Sign In With Realshed</h2>
                </div>
                <div class="tabs-box">
                    <!-- <div class="tab-btn-box">
                        <ul class="tab-btns tab-buttons centred clearfix">

                            <li class="tab-btn active-btn" data-tab="#tab-1" >Builder</li>
                           
                        </ul>
                    </div> -->
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="inner-box">
                                <h4>Sign up</h4>    
                                {{form.non_field_errors}}
                                <form action="{% url 'buildersignup' %}" method="POST"  class="default-form" novalidate>
                                    {% csrf_token %}
                                   
                                 
                                    <div class="form-group">
                                        {{form.mobile.label_tag}}
                                        {{form.mobile}}
                                        {{form.mobile.errors}}
                                    </div>
                                    <div class="form-group">
                                        {{form.agencyname.label_tag}}
                                        {{form.agencyname}}
                                        {{form.agency.errors}}

                                    </div>
                                    <div class="form-group message-btn">
                                        <button type="submit" class="theme-btn btn-one">Sign up</button>
                                    </div>
                                </form>
                            
                                
                                <div class="othre-text My-">
                                    <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}