{% extends 'myapp/base.html' %}
{% load  static %}
{% block main-content %}
<section class="ragister-section centred sec-pad">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-xl-6 col-lg-4 col-md-4 offset-xl-2 big-column">
                <div class="sec-title">
                    <h5>Sign up</h5>
                    <h2>Sign In With Realshed</h2>
                </div>
                <div class="tabs-box">
                    <div class="tab-btn-box">
                        <ul class="tab-btns tab-buttons centred clearfix">

                            <li class="tab-btn active-btn" data-tab="#tab-1" href="{% url 'buidersignup' %}">Builder</li>
                            <li class="tab-btn" data-tab="#tab-2" href="#">User</li>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="inner-box">
                                <h4>Sign up</h4>                              
                                <form action="{% url 'buidersignup' %}" method="POST" class="default-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                    {% for message in messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {{message}}
                                        </div>
                                    {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        {{form.name.label_tag}}
                                        {{form.name}}
                                    </div>
                                    <div class="form-group">
                                        {{form.email.label_tag}}
                                        {{form.email}}
                                    </div>
                                    <div class="form-group">
                                        {{form.mobile.label_tag}}
                                        {{form.mobile}}
                                    </div>
                                    <div class="form-group">
                                        {{form.agencyname.label_tag}}
                                        {{form.agencyname}}
                                    </div>
                                    <div class="form-group">
                                        {{form.address.label_tag}}
                                        {{form.address}}
                                    </div>
                                    <div class="form-group">
                                        {{form.city.label_tag}}
                                        {{form.city}}
                                    </div>
                                    <div class="form-group">
                                        {{form.zipcode.label_tag}}
                                        {{form.zipcode}}
                                    </div>
                                    <div class="form-group">
                                        {{form.password.label_tag}}
                                        {{form.password}}
                                    </div>
                                    <div class="form-group">
                                        {{form.confirmpass.label_tag}}
                                        {{form.confirmpass}}
                                    </div>
                                    <div class="form-group message-btn">
                                        <button type="submit" class="theme-btn btn-one">Sign up</button>
                                    </div>
                                </form>
                               
                                
                                <div class="othre-text My-">
                                    <p>Already have an account? <a href="{% url 'builderlogin' %}">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}