{% extends 'myapp/base.html' %}
{% load static %}
{% block main-content %}
      <!-- ragister-section -->
      <section class="ragister-section centred sec-pad">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-xl-8 col-lg-12 col-md-12 offset-xl-2 big-column">
                    <div class="sec-title">
                        <h5>Sign in</h5>
                        <h2>Sign In With Realshed</h2>
                    </div>
                    <!-- <div class="tabs-box">
                        <div class="tab-btn-box">
                            <ul class="tab-btns tab-buttons centred clearfix">
                                <li class="tab-btn active-btn" data-tab="#tab-1">Builder</li>
                                <li class="tab-btn " data-tab="#tab-2">User</li>
                            </ul> 
                        </div>  -->
                        <div class="tabs-content">
                                <div class="tab active-tab">
                                    <div class="inner-box">
                                        <h4>Sign in</h4>
                                        <form action="{% url 'builderlogin' %}" method="POST" class="default-form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {% for message in messages %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{message}}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group">
                                                {{form.email.label_tag}}
                                                {{form.email}}
                                            </div>
                                            <div class="form-group">
                                                {{form.password.label_tag}}
                                                {{form.password}}
                                            </div>
                                            <div class="form-group message-btn">
                                                <button type="submit" class="theme-btn btn-one">Sign in</button>
                                            </div>
                                           
                                        </form>
                                        <div class="othre-text">
                                            <p>Have not any account? <a href="{% url 'buildersignup' %}">Register Now</a></p>
                                        </div>
                                    </div>
                                </div> 
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ragister-section end -->
{% endblock %}